.o_local_bg_video_container {
    overflow: hidden;

    .o_local_bg_video_player {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    .spinner-border {
        width: 4rem;
        height: 4rem;
    }
}
